$darkSlateBlue: #1f2937;
$yellow: #ffd700;

.text-yellow-350 {
	color: $yellow;
}

.css-1wvake5 {
	border-color: $darkSlateBlue !important;
	border-right-width: 0 !important;
	position: fixed !important;
}

.css-1jp6z4y {
	border-radius: 0 !important;
}

.ps-submenu-expand-icon {
	transform: scale(1.6);
	display: flex;
}
