$darkSlateBlue: #222d3b;

.css-1wvake5 {
	border-right-width: 0 !important;
	position: fixed !important;

	.css-1jp6z4y {
		border-radius: 5px !important;
		background-color: $darkSlateBlue !important;
	}

	.ps-submenu-expand-icon {
		transform: scale(1.6);
		display: flex;
	}
}
