$darkSlateBlue: #222d3b;

.css-1wvake5 {
	border-right-width: 0 !important;
	position: fixed !important;

	.ps-menu-button:hover,
	.ps-menu-button:focus {
		.ps-menu-icon {
			color: #ffd700;
			transition: all 150ms;
		}
	}

	.css-1jp6z4y {
		border-radius: 5px !important;
		background-color: $darkSlateBlue !important;
	}

	.ps-submenu-expand-icon {
		transform: scale(1.6);
		display: flex;
	}
}
