@tailwind base;
@tailwind components;
@tailwind utilities;

$white: #ffffff;
$darkBlue: #111827;

:root {
	--gray-300: #d1d5db;
	--gray-600: #4b5563;
	--body-transition-duration: 300ms;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: $white;
	margin: 0;
	transition-duration: var(--body-transition-duration);
}

.dark body {
	background-color: $darkBlue;
}
