@tailwind base;
@tailwind components;
@tailwind utilities;

$darkBlue: #111827;
$opaqueWhite: #ffffffde;

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: $opaqueWhite;
	background-color: $darkBlue;
	margin: 0;
}
